.contenedor{
    background-color: rgba(225, 225, 225, 0.1);
    height: 80vh;

    /* backdrop-filter: blur(5px); */
    border: solid 1px rgba(225, 225, 225, .10);
    border-radius: 6px;
/*     width: 90%; */
    margin: 4.6% auto;
}
