.contenedor {
  background-color: rgba(225, 225, 225, 0.1);
  height: 80vh;
  border: solid 1px rgba(225, 225, 225, 0.1);
  border-radius: 6px;
  margin: 4.6% auto;
}

/* .fondoBotones {
  background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 100%
  );
} */

/* .botones :hover {
    background: linear-gradient(
    45deg,
    rgba(91, 14, 214, 0.5),
    rgba(29, 236, 197, 0.5) 100%
  );
} */

.botones :active {
  background: transparent;
}
